## Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV saved in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2022-11-09 22:34:04,77.4840,-69.3632,-8.72,59,98,6.98
1,1,Sisimiut,GL,2022-11-09 22:31:10,66.9395,-53.6735,10.53,67,100,11.92
2,2,Punta Arenas,CL,2022-11-09 22:31:43,-53.1500,-70.9167,51.12,37,40,27.63
3,3,Talnakh,RU,2022-11-09 22:34:05,69.4865,88.3972,-8.32,100,100,5.75
4,4,Matay,EG,2022-11-09 22:34:06,28.4190,30.7792,63.64,65,0,7.27

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of Temperature

# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
#fig = gmaps.figure()

fig = gmaps.figure(layout={
        'width': '920px',
        'height': '420px',
        'padding': '1px',
        'border': '1px solid black',
        'margin': '0 auto 0 auto'})         


# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

##  Adjust Heatmap Zoom, Intensity, and Point Radius

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5,
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
                                
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

## Create a Percent Humidity Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5,
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

## Create a Percent Cloudiness Heatmap

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5,
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

## Create a Wind Speed Heatmap

In [10]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5,
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

## Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Butaritari,KI,2022-11-09 22:34:06,3.0707,172.7902,81.41,76,100,21.79
7,7,Funadhoo,MV,2022-11-09 22:34:07,6.1500,73.2667,80.56,76,92,4.52
10,10,Samarai,PG,2022-11-09 22:34:09,-10.6167,150.6667,83.30,63,75,11.21
19,19,Hilo,US,2022-11-09 22:29:30,19.7297,-155.0900,82.26,73,0,8.05
24,24,Poum,NC,2022-11-09 22:34:14,-20.2333,164.0167,76.57,71,59,19.98
25,25,Kapaa,US,2022-11-09 22:34:14,22.0752,-159.3190,84.18,71,40,16.11
29,29,Cockburn Town,TC,2022-11-09 22:34:16,21.4612,-71.1419,81.37,72,0,4.94
37,37,Cabo San Lucas,MX,2022-11-09 22:30:42,22.8909,-109.9124,83.61,57,20,19.57
40,40,Limbang,MY,2022-11-09 22:34:22,4.7500,115.0000,77.11,94,69,1.66
45,45,Avarua,CK,2022-11-09 22:33:57,-21.2078,-159.7750,78.85,69,40,12.66

In [13]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

## Map Vacation Criteria

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5       Butaritari      KI     81.41   3.0707  172.7902
7         Funadhoo      MV     80.56   6.1500   73.2667
10         Samarai      PG     83.30 -10.6167  150.6667
19            Hilo      US     82.26  19.7297 -155.0900
24            Poum      NC     76.57 -20.2333  164.0167
25           Kapaa      US     84.18  22.0752 -159.3190
29   Cockburn Town      TC     81.37  21.4612  -71.1419
37  Cabo San Lucas      MX     83.61  22.8909 -109.9124
40         Limbang      MY     77.11   4.7500  115.0000
45          Avarua      CK     78.85 -21.2078 -159.7750

## Retrieve Hotels from a Nearby Search

In [15]:
# Set parameters for search for a hotel.

params = {
    'radius' : 5000,
    'type' : 'lodging',
    'key' : g_key
}

In [16]:
# Iterate through the hotel_df DataFrame

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude to the params dictionary
    params['location'] = f"{lat},{lng}" 
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except IndexError:
        print("Hotel not found....skipping.")

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Butaritari,KI,81.41,3.0707,172.7902,Isles Sunset Lodge
7,Funadhoo,MV,80.56,6.1500,73.2667,Dhaffalhu Tourist Lodge
10,Samarai,PG,83.30,-10.6167,150.6667,Nuli Sapi
19,Hilo,US,82.26,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Poum,NC,76.57,-20.2333,164.0167,
25,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Cockburn Town,TC,81.37,21.4612,-71.1419,Osprey Beach Hotel
37,Cabo San Lucas,MX,83.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
40,Limbang,MY,77.11,4.7500,115.0000,Purnama Hotel
45,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [18]:
# Add the heatmap of Temperature for the vacation spots.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5,
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…

## Add a popup marker

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [20]:
# Store the DataFrame row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add the heatmap of Temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5, 
                  layout={'width': '920px',
                          'height': '420px',
                          'padding': '1px',
                          'border': '1px solid black',
                          'margin': '0 auto 0 auto'})
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px', wi…